<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ report_data.user_input.start_year }} - {{ report_data.user_input.end_year }} {{ report_data.report_title }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        h1, h2, h3 {
            color: #333;
        }
        .section {
            margin-bottom: 30px;
        }
        .figure {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .data-desc {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }
        .data-desc h4 {
            margin-top: 0;
        }
        .data-desc p {
            margin-bottom: 0;
        }
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
        }

        .image-container .figure {
            max-width: 50%;
            height: auto;
            margin-right: 10px;
        }

        .table-style {
            width: 100%;
            border-collapse: collapse;
        }
        .table-style th, .table-style td {
            text-align: right;
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">{{ report_data.user_input.start_year }} - {{ report_data.user_input.end_year }} {{ report_data.report_title }}</h1>

    <div class="section">
        <p>The groundfish market in {{ report_data.user_input.region }} and the North Atlantic region has seen significant fluctuations in recent years, with changes in market value, volume, and species popularity. This report provides an in-depth analysis of the market competition between these two regions from {{ report_data.user_input.start_year }} to {{ report_data.user_input.end_year }}.</p>
    </div>

    <div class="section">
      <h2>Market Value</h2>
      <p>Reflecting on market dynamics across regions, the {{ report_data.domestic_maximum_market_value.species }} species stood prominently in {{ report_data.user_input.region }} during {{ report_data.domestic_maximum_market_value.year }}, commanding a market value of ${{ "{:,}".format(report_data.domestic_maximum_market_value.value) }}. Conversely, in the North Atlantic region, it was the {{ report_data.na_maximum_market_value.species }} species that held sway, achieving the highest market value of ${{ "{:,}".format(report_data.na_maximum_market_value.value) }}.</p>
      <p>Moreover, the average market value in {{ report_data.user_input.region }} was ${{ "{:,}".format(report_data.domestic_average_market_value.value) }}, accompanied by a median value of ${{ "{:,}".format(report_data.domestic_median_market_value.value) }}. In contrast, the North Atlantic boasted an average market value of ${{ "{:,}".format(report_data.na_average_market_value.value) }}, with a corresponding median of ${{ "{:,}".format(report_data.na_median_market_value.value) }}.</p>
    </div>

    <div class="section">
      <h2>Market Volume</h2>
      <p>Exploring market volumes, the {{ report_data.domestic_maximum_market_volume.species }} species took precedence in the {{ report_data.user_input.region }} market during {{ report_data.domestic_maximum_market_volume.year }}, boasting a total volume of {{ "{:,}".format(report_data.domestic_maximum_market_volume.value) }} pounds. In contrast, the North Atlantic region experienced its peak volume with the {{ report_data.na_maximum_market_volume.species }} species, reaching {{ "{:,}".format(report_data.na_maximum_market_volume.value) }} pounds.</p>
      <p>Furthermore, the mean market volume in {{ report_data.user_input.region }} amounted to {{ "{:,}".format(report_data.domestic_average_market_volume.value) }} pounds, accompanied by a median volume of {{ "{:,}".format(report_data.domestic_median_market_volume.value) }} pounds. Conversely, in the North Atlantic, the mean market volume stood at {{ "{:,}".format(report_data.na_average_market_volume.value) }} pounds, with a corresponding median volume of {{ "{:,}".format(report_data.na_median_market_volume.value) }} pounds.</p>
    </div>

    <div class="section">
      <h2>Market Value per Pound</h2>
      <p>To determine the most valuable species per pound, we analyzed the market value per pound for each region. In {{ report_data.user_input.region }}, the {{ report_data.domestic_maximum_market_value_per_pound.species }} species fetched the highest price per pound in {{ report_data.domestic_maximum_market_value_per_pound.year }}, with a value of ${{ "{:,}".format(report_data.domestic_maximum_market_value_per_pound.value) }}. The North Atlantic region, on the other hand, saw its peak value per pound for the {{ report_data.na_maximum_market_value_per_pound.species }} species in {{ report_data.na_maximum_market_value_per_pound.year }}, reaching ${{ "{:,}".format(report_data.na_maximum_market_value_per_pound.value) }}.</p>
      
      <table class="table-style">
        <tr>
            <th>Region</th>
            <th>Species</th>
            <th>Mean Market Value per Pound (USD)</th>
            <th>Median Market Value per Pound (USD)</th>
        </tr>
        {% for stats_pair in report_data.domestic_stats_market_value_per_pound %}
            <tr>
                <td>{{ report_data.user_input.region }}</td>
                <td>{{ stats_pair.species }}</td>
                <td>{{ "{:,.1f}".format(stats_pair.mean) }}</td>
                <td>{{ "{:,.1f}".format(stats_pair.median) }}</td>
            </tr>
            {% if loop.last %}
                <tr><td colspan="4"><hr></td></tr>
            {% endif %}
        {% endfor %}
        {% for stats_pair in report_data.na_stats_market_value_per_pound %}
            <tr>
                <td>North Atlantic</td>
                <td>{{ stats_pair.species }}</td>
                <td>{{ "{:,.1f}".format(stats_pair.mean) }}</td>
                <td>{{ "{:,.1f}".format(stats_pair.median) }}</td>
            </tr>
        {% endfor %}
      </table>
    </div>

    <div class="section">
        <h2>Market Competition Analysis</h2>
        <p>To gain a comprehensive understanding of the market competition between {{ report_data.user_input.region }} and the North Atlantic region, we have included several visualizations:</p>
        <h3>Market Value Time Series</h3>
        <p>The market value time series charts provide a visual representation of the market value trends for both regions over the analyzed period, highlighting the ebbs and flows in value for different species.</p>
        <div class="image-container">
            <img class="figure" src="{{ report_data.domestic_market_value_time_series_figure }}" alt="Domestic Market Value Time Series">
            <img class="figure" src="{{ report_data.na_market_value_time_series_figure }}" alt="North Atlantic Market Value Time Series">
        </div>
        
        <h3>Market Competition Visualization</h3>
        <p>The following visualization provides a direct comparison of the market volume competition between {{ report_data.user_input.region }} and the North Atlantic region, revealing the interplay between these two markets.</p>
        <img class="figure" src="{{ report_data.domestic_na_market_competition_figure }}" alt="Domestic vs. North Atlantic Market Competition">
    </div>

    <div class="section">
      <h2>Year to Year Market Value and Volume Delta Analysis</h2>
      <h3>Market Value Change per Species</h3>
        <p>The market value change time series charts illustrate the year-to-year changes in market value for each region and species, allowing for a better understanding of fluctuations and potential market shifts.</p>
        <div class="image-container">
            <img class="figure" src="{{ report_data.domestic_market_value_delta_time_series_figure }}" alt="Domestic Market Value Delta Time Series">
            <img class="figure" src="{{ report_data.na_market_value_delta_time_series_figure }}" alt="North Atlantic Market Value Delta Time Series">
        </div>

        <h3>Total Market Value and Volume Change Table</h3>
        <p>The market value change table below presents a tabular representation of the year-to-year changes in market value for both regions, allowing for easy comparison and analysis of market fluctuations.</p>
        <div class="scrollable-table" style="height: 400px; overflow-y: auto;">
          <img class="figure" src="{{ report_data.domestic_na_market_value_delta_table_figure }}" alt="Domestic vs. North Atlantic Market Value Delta Table">
      </div>
    </div>
</body>
</html>


